@import ("");

/* Global Attributes */ 

*{
	margin: 0;
	padding: 0;
}

body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #f2f2f2;
}


/* Styling Text */ 

.textStyle{
	letter-spacing: 8px;
	font-weight: bold;
	font-size: 20px;
	font-family: Arial, sans-serif;
	text-align: center;
	margin-bottom: 25px;
}

/* Centering the Div */ 

.centerRight{
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
}

.centerLeft{
	position: absolute;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);
}

.centerLeftSignUp{
	position: absolute;
	top: 60%
	left: 60%;
	transform: translate(-50%, -50%);
}

.centerBottom{
	position: absolute;
	top: 93%;
	left: 40%;
	transform: translate(-50%, -50%);
}

/* Styling the Form Container */ 

.container-formular{
	background: #fff;
	border: 2px solid #e6e6e6;
	padding: 40px;
	height: 230px;
	width: 250px;
}

.bottomFormular{
	background: #fff;
	border: 2px solid #e6e6e6;
	padding: 30px;
	margin-top: 15px;
	text-align: center;
}

.app{
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}


/* Styling the buttons */

.loginBtn{
	color: #fff;
	background: green;
	padding: 10px 55px 10px 55px;
	margin-top: 600px;
}

.loginBtn:hover{
	background: darkgreen;
}


.signUpBtn{
	text-decoration: none;
	color: #80bfff;
}

.blackBtn{
	background: #000;
	color: #fff;
	margin-left: 35px;
	padding: 8px 20px 8px 20px;
	border-radius: 8px;
	text-decoration: none;
}

/* Stying the Nav Bar at the Bottom */ 
 
#navBar{
	color: #fff;
}

#navBar a{
	color: #000;
	text-decoration: none;
	padding-right: 25px;
}

#navBar a:hover{
	color: darkgrey;
	transition: .2s all ease;
}

#navBar ul{
	list-style-type: none;
	padding: 0;
}

#navBar li{
	display: inline;
}



.centerBottomLogo{
	position: absolute;
	top: 93%;
	left: 70%;
	transform: translate(-50%, -50%);
}

.bottomText{
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: bold;
	font-size: 16px;
}

/* Styling the Form */

input[type="text"],
input[type="password"]{
	padding: 10px 0 10px 0;
	margin-bottom: 11px;
	width: 100%;
	outline: none;
}

input[type="submit"]{
	width: 100%;
	border: none;
	margin: none;
	color: #fff;
	background: #3399ff;
	padding: 14px 0 14px 0;
	font-weight: bold;
	font-size: 15px;
}

.passwordForg{
	text-decoration: none;
	color: #000;
	text-align: center;
	margin-left: 70px;
	margin-top: 60px;
}

input[type="text"]:focus,
input[type="password"]:focus{
	border: 1px solid #000;
}




